body{
    color: white;
    background-color: rgb(0, 3, 49);
    font-size: 2.5vmin;
    font-style: italic;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 3px orange;
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

#one {
    display: flex;
    justify-content: center;
    margin-bottom: 1vmax;
}

#two {
    /* width: 40vw; */
    /* height: 131vh; */
    /* margin: 3vb; */
    background-color: rgb(0, 55, 77);
}
#area {
    width: 100%;
    color: white;
    background-color: rgb(24, 27, 43);
}

#area::placeholder {
    font-size: 2.5vmin;
    font-style: italic;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#list {
    /* width: 40vw;
    height: 80vh; */
    /* display: flex;
    justify-content: space-between; */
    /* text-decoration: underline; */
    cursor: pointer;
}

div>h1,
marquee {
    text-shadow: 2px 2px 3px orange;
    animation-name: text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes text {
    0% {
        text-shadow: 2px 2px 3px orange;
    }

    50% {
        text-shadow: 2px 2px 3px red;
    }

    100% {
        text-shadow: 2px 2px 3px skyblue;
    }
}

#btn {
    width: 5vmax;
    height: 5vmax;
    transition: all ease-out 1s;
    border-radius: 0.3vmax;
    background-image: url("click.gif");
    background-size: 100% 100%;
    object-fit: contain;
    -webkit-filter: invert(100%);
    filter: invert(90%);
}

#btn:hover {
    -webkit-filter: invert(0);
    filter: invert(0);
}